<nav>
  <div (click)="volver()" >
      <h1> BibliotecaBAJR</h1>
  </div>
  <div >
      <button (click)="irLogin()">Ingresar</button>
      <button (click)="irRegresar()">Regresar</button>
  </div>

</nav>

<div class="register-container">
  <form [formGroup]="form" (ngSubmit)="signUp()">
    <h2>Registrarse</h2>
    <p>Al crear tu cuenta en esta biblioteca online podrás acceder a la lista de libros registrados</p><br>
    <div class="input-group">
      <div>
        <label for="email">Correo Electrónico:</label>
        <input formControlName="email" type="email" id="email" required>
      </div>
      <div>
        <label for="username">Nombre de usuario:</label>
        <input formControlName="username" type="text" id="username" required>
      </div>
    </div>
    <div class="input-group">
      <div>
        <label for="firstName">Nombre:</label>
        <input formControlName="firstName" type="text" id="firstName" required>
      </div>
      <div>
        <label for="lastName">Apellido:</label>
        <input formControlName="lastName" type="text" id="lastName" required>
      </div>
    </div>
    <div class="input-group">
      <div>
        <label for="password">Contraseña:</label>
        <input formControlName="password" type="password" id="password" required>
      </div>
      <div>
        <label for="confirmPassword">Confirmar Contraseña:</label>
        <input type="password" id="confirmPassword" required>
      </div>
    </div>
    <div class="button-container">
      <button type="submit">Crear Cuenta</button>
      <button type="button" (click)="signUpWithGoogle()">Registrarse por Google</button>
    </div>
  </form>
</div>

